@{
    ViewBag.Title = "Lab.Livraria";
}

<div class="jumbotron">
    <h1>Lab Livraria</h1>
    <p class="lead">Projeto de testes para um cadastro de catálogo de livros de uma Livraria.</p>    
</div>