@model Lab.Livraria.Entidades.Livro

@{
    ViewBag.Title = "Excluir";
}

<h2>Excluir</h2>

<h3>Convirma a remoção do Livro @Model.Id - @Model.Nome ?</h3>
<div>
    @using (Html.BeginForm()) {

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-default" />
            @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
